html,
body {
	height: 100%;
	font-family: "Libre Franklin", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Libre Franklin", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Libre Franklin", sans-serif;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.section-title {
	text-align: left;
	margin-bottom: 60px;
}

.section-title span {
	color: #e32879;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.section-title-1 {
	text-align: center;
	margin-bottom: 60px;
}

.section-title-1 span {
	color: #e32879;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.section-title h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 14px;
}

.section-title-1 h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 14px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	font-size: 16px;
	color: #ffffff;
	background: #e32879;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
}

.header-section {
	background: #191919;
}

.logo {
	padding: 24px 0 30px;
}

.logo a {
	display: inline-block;
}

.main-menu {
	text-align: right;
}

.main-menu ul li {
	display: inline-block;
	list-style: none;
	margin-left: 35px;
	position: relative;
}

.main-menu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 90px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

.main-menu ul li .dropdown li {
	display: block;
	margin-right: 0;
	text-align: left;
	margin-left: 0;
}

.main-menu ul li .dropdown li a {
	padding: 8px 20px;
	display: block;
	transition: all 0.3s;
	text-transform: capitalize;
	color: #191919;
}

.main-menu ul li .dropdown li a:hover {
	color: #e32879;
}

.main-menu ul li.active a {
	color: #e32879;
}

.main-menu ul li:hover>a {
	color: #e32879;
}

.main-menu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 70px;
}

.main-menu ul li a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	padding: 25px 0 30px;
	transition: all 0.3s;
}

.slicknav_menu {
	display: none;
}

.hero-section {
	height: 800px;
	display: flex;
	align-items: center;
}

.hs-text span {
	color: #e32879;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.hs-text h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

.hs-text p {
	color: #ffffff;
	margin-bottom: 45px;
}

.set-bg{
    background-image: url(img/hero-bg.jpg);
}



/*---------------------
  About Us Section
-----------------------*/

.about-us-section {
	background: #191919;
}

.as-pic img {
	min-width: 100%;
}

.as-text {
	padding-top: 30px;
	
}

.as-text {
	padding-top: 14px;
}

.as-text .section-title {
	text-align: left;
	margin-bottom: 15px;
}

.as-text p {
	color: #b3b3b3;
}

.as-text p.f-para {
	margin-bottom: 10px;
}

.as-text p.s-para {
	margin-bottom: 37px;
}

.as-text .about-counter .ac-item {	
	margin-right: 48px;
	position: relative;
}

.as-text .about-counter .ac-item:after {
	position: absolute;
	right: -20px;
	top: 8px;
	height: 65px;
	width: 1px;
	background: #393939;
	content: "";
}

.as-text .about-counter .ac-item:last-child {
	margin-right: 0;
	padding-right: 0;
}

.as-text .about-counter .ac-item:last-child:after {
	display: none;
}

.as-text .about-counter .ac-item h2 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.as-text .about-counter .ac-item p {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
}

/* services-section */

.services-section{
	background: #191919;
	padding-top: 0;
	padding-bottom: 80px;
}

.service-item {
	text-align: center;
	background: #222222;
	padding: 46px 50px 0;
	height: 325px;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.service-item:hover {
	border-bottom: 3px solid #e32879;
}

.service-item h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 25px;
}

/*---------------------
  Call To Section
-----------------------*/

.callto-section {
	padding: 80px 0;
}

.ctc-text {
	text-align: center;
}

.ctc-text h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 20px;
}

.ctc-text p {
	color: #ffffff;
	margin-bottom: 45px;
}

.ctc-text .primary-btn.ctc-btn {
	background: #ffffff;
	color: #e32879;
}

.set-bg-1{
	background-image: url(img/ctc-bg.jpg);
}

/*---------------------
  Member Section
-----------------------*/

.member-section {
	background: #191919;
	padding-bottom: 80px;
}

.member-section.ap-member {
	padding-top: 0;
}

.member-item {
	height: 435px;
	position: relative;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.member-item:hover .mi-text {
	opacity: 1;;
	transform: scale(1);
}

.member-item .mi-text {
	text-align: center;
	background: #191919;
	position: absolute;
	left: 20px;
	top: 23px;
	width: calc(100% - 40px);
	height: calc(100% - 46px);
	padding: 50px 20px 60px 20px;
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s ease-out;
}

.member-item .mi-text p {
	margin-bottom: 32px;
}

.member-item .mi-text .mt-title {
	margin-bottom: 20px;
}

.member-item .mi-text .mt-title h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 4px;
}

.member-item .mi-text .mt-title span {
	font-size: 12px;
	color: #e32879;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.member-item .mi-text .mt-social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #303030;
	border-radius: 50%;
	margin-right: 3px;
}

.member-item .mi-text .mt-social a:last-child {
	margin-right: 0;
}

.set-bg-01{
	background-image: url(img/member/member-1.jpg);
}

.set-bg-02{
	background-image: url(img/member/member-2.jpg);
}

.set-bg-03{
	background-image: url(img/member/member-3.jpg);
}

/*---------------------
  Blog Section
-----------------------*/

.set-bg-11{
	background-image: url(img/blog/blog-1.jpg);
}

.set-bg-12{
	background-image: url(img/blog/blog-2.jpg);
}

.blog-item .bi-pic  {
	height: 390px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.blog-item {
	background: #191919;
	margin-bottom: 30px;
	height: 390px
}


.blog-section {
	background: #222222;
	padding-bottom: 80px;
}
.blog-section.latest-blog {
	padding-bottom: 80px;
}

.blog-item .bi-text {
	padding-top: 46px;
	padding-right: 20px;
	padding-bottom: 38px;
}

.blog-item .bi-text ul {
	margin-bottom: 17px;
}

.blog-item .bi-text ul li {
	list-style: none;
	display: inline-block;
	color: #e32879;
	font-size: 14px;
	margin-right: 8px;
}

.blog-item .bi-text ul li i {
	margin-right: 4px;
}

.blog-item .bi-text h4 {
	margin-bottom: 22px;
}

.blog-item .bi-text h4 a {
	color: #ffffff;
	font-weight: 700;
	line-height: 32px;
}

.blog-item .bi-text p {
	margin-bottom: 42px;
}

.blog-item .bi-text .bt-author .ba-pic {
	margin-right: 12px;
}

.blog-item .bi-text .bt-author .ba-pic img {
	height: 53px;
	width: 50px;
	border-radius: 50%;
}

.blog-item .bi-text .bt-author .ba-text {
	overflow: hidden;
	padding-top: 4px;
}

.blog-item .bi-text .bt-author .ba-text h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 4px;
}

.blog-item .bi-text .bt-author .ba-text span {
	font-size: 12px;
	color: #e32879;
	text-transform: uppercase;
	letter-spacing: 1px;
}



/* Footer section */

.footer-section {
    background: #191919;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-option {
	margin-bottom: 30px;
}

.footer-option .fo-logo {
	margin-bottom: 30px;
}

.footer-option .fo-logo a {
	display: inline-block;
}

.footer-option ul {
	margin-bottom: 12px;
}

.footer-option ul li {
	list-style: none;
	font-size: 16px;
	color: #b3b3b3;
	line-height: 30px;
}

.footer-option .fo-social a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	width: 41px;
	height: 41px;
	background: #303030;
	border-radius: 50%;
	text-align: center;
	line-height: 41px;
	transition: all 0.3s;
	margin-right: 3px;
}

.footer-option .fo-social a:hover {
	background: #e32879;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget.fw-links {
	padding-left: 35px;
}

.footer-widget h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 20px;
}

.footer-widget ul li {
	list-style: none;
}

.footer-widget ul li a {
	font-size: 16px;
	color: #b3b3b3;
	line-height: 36px;
}

.footer-widget p {
	margin-bottom: 18px;
}

.footer-widget .news-form input {
	font-size: 14px;
	height: 46px;
	color: #b3b3b3;
	border: 1px solid #707070;
	padding-left: 25px;
	background: #191919;
	width: 100%;
	margin-bottom: 10px;
}


.footer-widget .news-form button {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	display: block;
	background: #e32879;
	border: none;
	padding: 12px 0;
	width: 100%;
}

.footer-widget .insta-pic img {
	margin-right: 5px;
	width: calc(31.33% - 5px);
	margin-bottom: 10px;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.member-item .mi-text {
		padding: 30px 20px 60px 20px;
	}
	.blog-item .bi-text {
		padding-top: 20px;
		padding-right: 10px;
		padding-bottom: 30px;
	}
	.as-text {
		margin-right: 12px;
	}
	.as-text {
		right: -7px;
	}
}
@media only screen and (max-width: 991px) {
	.as-text {
		padding-left: 0;
	}
	.blog-item {
		height: auto;
	}
	.blog-item .bi-text {
		padding-left: 30px;
	}
	.footer-widget {
		padding-left: 0;
	}
	.as-text {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.main-menu {
		text-align: right;
		display: none;
	}
	.slicknav_btn {
		margin: 0;
		border-radius: 0;
		background-color: #666;
		position: absolute;
		right: 15px;
		top: 20px;
		display: inline-block;
	}
	.slicknav_nav {
		background: #666;
		display: block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.header-section .container {
		position: relative;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 30px;
		margin: 0;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #e32879;
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #e32879;
		color: #ffffff;
	}
	.as-text  {
		margin-right: 20px;
	}
	.as-text {
		right: -11px;
	}
}